/*
    ====================================================
    Typography
    ====================================================
*/
	
h1 {
	font-size: 25px;
	text-align: left;
	font-family: 'Major Mono Display', monospace;


    font-family: 'Nova Mono', monospace;


    font-family: 'Roboto Slab', serif;


	color: #BD93F9;
	color: #bd93f9;
}

h2 {
	font-size: 16px;
    text-align: center;
	font-family: 'Major Mono Display', monospace;
	color: #FF80BF;
	color: #f1fb81;

}

h1 h2 {

    font-family: 'PT Mono', monospace;

}

/*
    ====================================================
    Links
    ====================================================
*/

a {
	font-size: 12px;
	color: #FF80BF;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}

a:hover {
	color: #a9b2b9;
}


/*
    ====================================================
    Lists
    ====================================================
*/


ul {
	list-style-type: square;
}

.menulist {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
}

.menulist a {
    display: block;
    color: black;
    padding: 8px 16px;
}

/*
    ====================================================
    Navigation
    ====================================================
*/

.nav {
    text-align: center;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li:last-child {
    margin-right: 0;
}


/*
    ====================================================
    Body
    ====================================================
*/
	
body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Major Mono Display', monospace;
	background: #24202E;
	background: #3C4556;
}

.header {
    grid-area: header;

	color: #8be9fd;

	color: #bd93f9;
}

.nav {
    grid-area: nav;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-container > div {
    width: 200px;
    margin: 10px;
    font-size: 12px;
	color: #FF80BF;
	line-height: 1.5;
}

.footer {
    grid-area: footer;
}

/*
    ====================================================
    Grid
    ====================================================
*/


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'left left center center right right'
    'footer footer footer footer footer footer';
}
