/*
    ====================================================
    Typography
    ====================================================
*/

h1, h2 {
	color: black;
}

h1 {
	font-size: 25px;
	text-align: left;
}

h2 {
	font-size: 16px;
    text-align: center;
}

/*
    ====================================================
    Links
    ====================================================
*/

a {
	font-size: 12px;
	color: black;
	text-decoration: none;
}

a:hover {
	color: #a9b2b9;
}


/*
    ====================================================
    Lists
    ====================================================
*/


ul {
	list-style-type: square;
}

.menulist {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
}

.menulist a {
    display: block;
    color: black;
    padding: 8px 16px;
}

/*
    ====================================================
    Navigation
    ====================================================
*/

.nav {
    text-align: center;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li:last-child {
    margin-right: 0;
}


/*
    ====================================================
    Body
    ====================================================
*/

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    background: lightblue;
}

.header {
    grid-area: header;
    background: lightblue;
}

.nav {
    grid-area: nav;
    background: lightblue;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-container > div {
    background: white;
    width: 200px;
    margin: 10px;
    font-size: 12px;
}

.footer {
    grid-area: footer;
    background: lightblue;
}

/*
    ====================================================
    Grid
    ====================================================
*/


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'left left center center right right'
    'footer footer footer footer footer footer';
}
