h1, h2 {
	color: black;
}

h1 {
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

h2 {
	font-size: 20px;
	text-align: center;
}

p {
	font-size: 12px;
}

a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}

a:hover {
	color: #a9b2b9;
}
*/
div { 
	width: 320px;
	border: 1px solid black;
	border-radius: 1px;
	margin-left: 200px;
}  
*/
ul {
	list-style-type: square;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 180px; 
	background-color: lightblue;
	border: 1px solid #555;
	position: fixed;
}

ol li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align: none;
	border-bottom: 1px solid #555;
}
ol li:last-child {
	border-bottom: none;
}


.header {
	background: lightblue;
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}